<div style="min-height:30vh; display: flex;align-items: center; justify-content: center;width: auto !important;">


	<div class="background:#EEE;padding : 20px;">
		Vous trouverez un nouveau mot de passe dans votre boite mail.
		<br>
		<small>Pensez à le changer depuis la page profil de votre application.</small>
	</div>


</div>