<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
  <p style="margin-bottom: 25px;">Bonjour,</p>
  <p style="margin-bottom: 5px;">Votre mot de passe a été réinitialisé.</p>
  <p style="margin-bottom: 25px;">Voici votre nouveau mot de passe : <strong>
      <%= password %>
    </strong></p>

  <p style="margin-bottom: 25px;">Vous pouvez le modifier dans la section dans la section profile.</p>

  <p style="margin-bottom: 5px;">Cordialement.</p>
  <p style="margin-bottom: 5px;">TE MOANA DIVING PASS</p>
  <p style="margin-bottom: 5px;"><a href="https://www.temoanadiving.com/">https://www.temoanadiving.com/</a></p>