<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
  <p style="margin-bottom: 25px;">Iaorana,</p>
  <p style="margin-bottom: 5px;">
    Vous avez perdu votre mot de passe ?</p>
  </strong></p>
  <p style="margin-bottom: 5px; ">Cliquez sur ce lien pour regénérer votre mot de passe : <br>
  </p>
  <a style=" display: inline-block; cursor: pointer; text-align: center; text-decoration:none;font-weight: bold;  color:white;border-radius : 10px;margin: 20px auto;white-space: no-wrap; padding: 5px 10px;background: #004d61; background: linear-gradient(180deg,#004d61,#28a1c5 100%);"
    href="<%= link %>">
    Regénérer mon <br> mot de passe
  </a>

  <p style="margin-bottom: 25px;">Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cette email.</p>
  <p style="margin-bottom: 5px;">Cordialement.</p>
  <p style="margin-bottom: 5px;">TE MOANA DIVING PASS</p>
  <p style="margin-bottom: 5px;"><a href="https://www.temoanadiving.com/">https://www.temoanadiving.com/</a></p>